NEXT_PUBLIC_SUPABASE_URL=https://jtbyonvsmfeqaaogszsi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
ADMIN_PASSWORD=rrm2026.com
SESSION_SECRET=529e36f4d8b9fb48d1553b038cbc1822acdab2b2c5b59b29847bf2e33e380ecc
